<%- include("partials/header"); %>
<!--Chat-->
<div class="chat-container">
    <div class="chat-header">
        
        <p>There are <span><%= nUsers  %></span> users born the same day.</p>
        <h1>Live Chat</h1>
    </div>
    
    <div class="chat-messages">
    </div>
    <div class="chat-form" id="chat-form" data-firstname="<%=currentUser.firstname%>" data-country="<%= currentUser.country%>" data-username="<%=currentUser.username%>">
        <form class="" id="chat-msg">
            <input class="form__input" type="text" name="" id="message" autocomplete="off" placeholder="Write something">
            <input class="button button-message" type="submit" value="Send">
        </form>
    </div>
</div>
<script src="/javascripts/primus.js"></script>
<script src="/javascripts/chat.js"></script>
<%- include("partials/footer"); %>